{
  "extends": "airbnb",
  "plugins": ["prettier"],
  "rules": {
    "jsx-a11y/anchor-is-valid": [
      "error",
      { "components": ["Link"], "specialLink": ["to"] }
    ],
    "import/extensions": ["ignorePackages"],
    "import/no-unresolved": [{ ignore: "/^src\//" }],
    "no-debugger": ["warn"],
    "prettier/prettier": "error"
  }
}
