a {
  color: inherit;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

@media (min-width: 76em) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 114em) {
  html {
    font-size: 24px;
  }
}
